* {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

#container {
    height: 100vh;
    width: 100%;
    border: 2px black solid;
    background-image: url("./img/background.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play {
    height: 10vh;
    width: 30%;
    border: 2px white solid;
    text-align: center;
    position: relative;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(red, orangered);
    padding: 1%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#play b {
    position: relative;
    bottom: -30%;
}

.health {
    height: 7%;
    width: 20%;
    position: absolute;
    bottom: 90%;
    border: 2px black solid;
}

.weaponbar {
    height: 4%;
    width: 7%;
    position: absolute;
    bottom: 85%;
    border: 2px black solid;
}

.weaponbar::-webkit-progress-value {
    background-color: red;
}


/* -------------- CaptainAmerica MOVES -------------------- */
.CaptainAmerica {
    height: 30%;
    width: 10%;
    position: absolute;
    background-image: url(img/cap.png);
    background-repeat: no-repeat;
    background-size: 300% 100%;
    background-position: center;
    transition: 0.5s;
    left: 15%;
    bottom: 10%;
}

.punch {
    height: 5%;
    width: 13%;
    position: absolute;
    background-image: url(img/hand.png);
    background-repeat: no-repeat;
    background-size: 150% 120%;
    background-position: center;
    transition: 0.5s;
}

.shield {
    height: 10%;
    width: 10%;
    position: absolute;
    background-image: url(img/shield.png);
    background-size: 80% 70%;
    background-repeat: no-repeat;
    transition: 1s linear;
}

.jump1 {
    animation: jump 0.4s linear 1;
    background-size: 250% 100%;
}

.walkAnime {
    animation: walkAnime 1s linear infinite;
}

@keyframes walkAnime {
    0% {
        background-size: 100% 50%;
        background-image: url(img/capwalk.png)
    }
}

.punchAnime {
    animation: punchAnime 1s linear infinite;
}

@keyframes punchAnime {
    0% {
        background-size: 200% 100%;
        background-image: url(img/punch2.png)
    }
}

.shoot1 {
    animation: shoot1 2s linear 1;
    background-size: 200% 100%;
}

@keyframes shoot1 {
    0% {
        background-image: url(img/cap2.png);
    }

    18% {
        background-image: url(img/cap2.png);
    }

    20% {
        background-image: url(img/cap.png);
    }
}

@keyframes jump {
    20% {
        bottom: 30%;
        background-image: url(img/jump.png);
    }

    50% {
        bottom: 45%;
    }

    80% {
        bottom: 30%;
        background-image: url(img/jump.png);
    }
}

#health1 {
    left: 1%;
}

#bar1 {
    left: 2%;
}



/* -------------- IronMan MOVES -------------------- */
.IronMan {
    height: 30%;
    width: 10%;
    position: absolute;
    background-image: url(img/ironmanCustom.png);
    background-repeat: no-repeat;
    background-size: 330% 130%;
    background-position: center;
    transition: 0.5s;
    left: 75%;
    bottom: 10%;
}

.ironAnime {
    background-image: url(img/ironAnime.png);
    background-size: 300% 120%;
}

.ironPunch {
    height: 30%;
    width: 10%;
    position: absolute;
    animation: ironPunch 1s linear infinite;
    background-repeat: no-repeat;
    background-size: 330% 130%;
    transition: 1s;
}

@keyframes ironPunch {
    0% {
        background-size: 300% 120%;
        background-image: url(img/ironPunch1.png)
    }

    10% {
        background-size: 300% 120%;
        background-image: url(img/ironPunch2.png)
    }

    50% {
        background-size: 300% 120%;
        background-image: url(img/ironPunch2.png)
    }
}

.punch2 {
    height: 5%;
    width: 13%;
    position: absolute;
    background-image: url(img/ironhand.png);
    background-repeat: no-repeat;
    background-size: 120% 290%;
    background-position: center;
    transition: 1s;
    z-index: 2;
}

.shoot2 {
    background-image: url(img/ironBeam.png);
    background-size: 270% 120%;
}

.ironmanLaser {
    height: 4%;
    width: 10%;
    position: absolute;
    background-image: radial-gradient(yellow, red, blue);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 1%;
    transition: 1s linear;
}

.jump2 {
    animation: jump2 0.8s linear 1;
    background-size: 300% 130%;
    transition: 1s;
}

@keyframes jump2 {
    20% {
        bottom: 30%;
        background-image: url(img/ironJump.png);
    }

    50% {
        bottom: 45%;
        background-image: url(img/ironJump.png);
    }

    74% {
        bottom: 45%;
        background-image: url(img/ironJump.png);
    }

    80% {
        bottom: 20%;
        background-image: url(img/ironmanLand.png);
    }

    100% {
        bottom: 5%;
        background-image: url(img/ironmanLand.png);
    }
}


#health2 {
    left: 79%;
}

#bar2 {
    left: 91%;
}

.impact {
    background-color: red;
    width: 1000px;
    height: 550px;
    opacity: 0.5;
    z-index: 5;
}


.hide {
    display: none;
}

@media screen and (max-width:918px) {
    .punch {
        background-size: 160% 120%;
        background-position: -50px 1px;
    }
    .punch2 {
        background-size: 200% 190%;
        background-position: -40px -10px;
    }
}

@media screen and (max-width:662px) {
    .punch {
        background-size: 170% 120%;
        background-position: -50px 1px;
    }
}
